@use "../../../stylesheets/normal-color.scss" as normal;

.card-container {
  width: 41vh;
  height: 16.5vh;
  background-color: normal.$white;
  padding: 0.74vh;
  box-sizing: border-box;
  border-radius: 0.99vh;
  display: flex;
  flex-direction: column;
  gap: 1.85vh;
  align-items: center;
  box-shadow: 0 0.62vh 0 rgba(0,0,0,0.25);

  .card-header {
    width: 18.97vh;
    height: 3.57vh;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 3.57vh;
      height: 3.57vh;
      color: white;
      font-size: 3.69vh;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border: 0.24vh solid #3B3B3B;
      border-radius: 0.98vh;
      box-shadow: 0 0.37vh 0 #3B3B3B;

      .minus {
        height: 0.37vh;
        width: 1.7vh;
        background-color: white;
      }

      &:hover {
        cursor: pointer;
      }

      &:disabled {
        cursor: default;
        opacity: 0.3;
      }

      &:focus {
        outline: none !important;
      }

      &:focus-visible {
        outline: none !important;
        box-shadow: none !important;
      }
    }

    .remove-btn {
      background-color: #FF6F3C;
    }

    .add-btn {
      background-color: #8CBF3E;
      line-height: 40%;
    }

    .team-name {
      width: 11.82vh;
      height: 3.2vh;
      text-align: center;
      font-weight: 700;
      font-size: 1.97vh;
    }
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.48vh;

    .member {
      display: flex;
      gap: 0.25vh;
      font-size: 1.97vh;
      font-weight: 700;
    }
  }
}
