<div class="page-container">
  <app-header
    title="第{{setCount}}セット"
    (back)="moveToBack()"
    (home)="moveToHome()"
  ></app-header>
  <div class="score-buttons">
    <div class="row row-1">
      <button
        [ngClass]="{'enabled': selectedButton === 7}"
        (click)="onClickScoreButton(7)"
      >7</button>
      <button
        [ngClass]="{'enabled': selectedButton === 9}"
        (click)="onClickScoreButton(9)"
      >9</button>
      <button
        [ngClass]="{'enabled': selectedButton === 8}"
        (click)="onClickScoreButton(8)"
      >8</button>
    </div>
    <div class="row row-2">
      <button
        [ngClass]="{'enabled': selectedButton === 5}"
        (click)="onClickScoreButton(5)"
      >5</button>
      <button
        [ngClass]="{'enabled': selectedButton === 11}"
        (click)="onClickScoreButton(11)"
      >11</button>
      <button
        [ngClass]="{'enabled': selectedButton === 12}"
        (click)="onClickScoreButton(12)"
      >12</button>
      <button
        [ngClass]="{'enabled': selectedButton === 6}"
        (click)="onClickScoreButton(6)"
      >6</button>
    </div>
    <div class="row row-3">
      <button
        [ngClass]="{'enabled': selectedButton === 3}"
        (click)="onClickScoreButton(3)"
      >3</button>
      <button
        [ngClass]="{'enabled': selectedButton === 10}"
        (click)="onClickScoreButton(10)"
      >10</button>
      <button
        [ngClass]="{'enabled': selectedButton === 4}"
        (click)="onClickScoreButton(4)"
      >4</button>
    </div>
    <div class="row row-4">
      <button
        [ngClass]="{'enabled': selectedButton === 0}"
        class="fail"
        (click)="onClickScoreButton(0)"
      >F</button>
      <button
        [ngClass]="{'enabled': selectedButton === 1}"
        (click)="onClickScoreButton(1)"
      >1</button>
      <button
        [ngClass]="{'enabled': selectedButton === 2}"
        (click)="onClickScoreButton(2)"
      >2</button>
      <button class="dummy"></button>
    </div>
  </div>
  <div class="buttons">
    <button
      class="back"
      (click)="onClickBack()"
      [disabled]="snapShot.length === 0"
    >
      戻る
    </button>
    <button
      class="submit"
      (click)="onClickSubmit()"
      [disabled]="selectedButton === 13"
    >
      決定
    </button>
  </div>
  <div class="score-board">
    <div class="score-header">
      <div class="space"></div>
      <div class="column">
        <span>セット</span>
      </div>
      <div class="column">
        <span>合計</span>
      </div>
    </div>
    <div
      class="contents"
      *ngFor="let team of teams"
    >
      <div
        class="team-data"
        [ngClass]="{
          'current-team': team.name === activeTeam.name,
          'dropout-team': team.miss === 3
        }"
      >
        <div class="data-header">
          <div class="team-name">{{team.name}}</div>
          <div class="miss-count">
            <div
              class="circle"
              [ngClass]="{'enabled': team.miss >= 1}"
            ></div>
            <div
              class="circle"
              [ngClass]="{'enabled': team.miss >= 2}"
            ></div>
            <div
              class="circle"
              [ngClass]="{'enabled': team.miss >= 3}"
            ></div>
          </div>
        </div>
        <div class="member-name">
          <span>{{team.currentPlayer.name}}</span>
        </div>
      </div>
      <div class="score">{{team.score}}</div>
      <div class="total score">{{team.totalScore + team.score}}</div>
    </div>
    <div class="footer"></div>
  </div>
</div>
<app-exit-dialog
  *ngIf="showDialog"
  [navigate]="navigateRoot"
  (close)="closeDialog()"
></app-exit-dialog>
