@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.page-container {
  width: 100%;
  height: 100%;
  padding: 11.58vh 2.96vh 9.85vh 2.96vh;
  background-color: normal.$bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  .score-buttons {
    width: 39.9vh;
    height: 29.56vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .row {
      width: 100%;
      display: flex;
      gap: 1.48vh;
      padding: 0 2.96vh;
      justify-content: center;

      &.row-4 {
        padding: 0;
      }

      button {
        width: 7.39vh;
        height: 7.39vh;
        padding: 0;
        background-color: #FFF9EB;
        border-radius: 50%;
        border: none;
        font-size: 3.57vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;

        &.fail {
          border-radius: 0.99vh;
          margin-right: 2.96vh;

          &.enabled {
            background-color: #FF6F3C;
            font-weight: 700;
            color: white;
          }
        }

        &.dummy {
          opacity: 0;
          pointer-events: none;
          margin-left: 2.96vh;
        }

        &.enabled {
          background-color: #4A90E2;
          font-weight: 700;
          color: white;
        }
      }
    }
  }

  .buttons {
    width: 39.9vh;
    height: 5.54vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.96vh;
    gap: 1.48vh;

    button {
      width: 12.44vh;
      height: 5.54vh;
      border-radius: 0.99vh;
      border: none;
      font-size: 2.71vh;
      padding: 0;

      &.back {
        background-color: white;
        border: 0.25vh solid #929292;

        &:disabled {
          border-color: rgba(146,146,146,0.3);
        }
      }

      &.submit {
        background-color: #EDC987;
        border: 0.25vh solid #7F5124;

        &:disabled {
          border-color: rgba(127,81,36,0.3);
        }
      }
    }
  }

  .score-board {
    width: 40.27vh;
    max-width: 100%;
    height: 290.99vh;
    margin-top: 2.96vh;
    display: flex;
    flex-direction: column;

    .score-header {
      height: 3.69vh;
      display: flex;
      background-color: #C68854;
      border-top-left-radius: 0.49vh;
      border-top-right-radius: 0.49vh;

      .space {
        flex: 1;
      }

      .column {
        width: 7.88vh;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          height: 2.7vh;
          font-size: 1.97vh;
          color: white;
          border-bottom: 0.12vh solid white;
        }
      }
    }

    .contents {
      display: flex;
      height: 7.88vh;
      min-width: 0;

      .team-data {
        flex: 1;
        background-color: white;
        display: flex;
        flex-direction: column;
        min-width: 0;

        &.current-team {
          background-color: #FFE0B2;
        }

        &.dropout-team {
          .team-name {
            opacity: 0.3;
          }

          .member-name {
            opacity: 0.3;
          }
        }

        .data-header {
          display: flex;
          height: 1.97vh;

          .team-name {
            flex: 1;
            margin-left: 0.99vh;
            font-size: 1.97vh;
            font-weight: 700;
          }

          .miss-count {
            width: 7.88vh;
            margin-right: 0.99vh;
            display: flex;
            gap: 0.99vh;

            .circle {
              width: 1.97vh;
              height: 1.97vh;
              border-radius: 50%;
              background-color: #D9D9D9;

              &.enabled {
                background-color: #FF6F3C;
              }
            }
          }
        }

        .member-name {
          padding: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          min-width: 0;
          flex: 1;
          display: flex;
          align-items: center;

          span {
            margin: auto;
            font-size: 2.46vh;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
          }
        }
      }

      .score {
        width: 7.88vh;
        background-color: #8CBF3E;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.57vh;
        font-weight: 700;
      }

      .total {
        background-color: black;
      }
    }

    .footer {
      height: 1.48vh;
      background-color: #C68854;
      border-bottom-left-radius: 0.49vh;
      border-bottom-right-radius: 0.49vh;
    }
  }
}
