@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.header-container {
  height: 8.62vh;
  width: 100%;
  min-width: 375px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../../assets/images/header_wood.svg");
  background-size: 92.36vh 11.08vh;
  background-repeat: repeat;

  .header-img {
    position: absolute;
    width: 100%;
    height: 8.62vh;
    object-fit: fill;
    top: 0;
    left: 0;
    display: block;
  }

  .header-contents {
    width: 100%;
    height: 100%;
    z-index: 2;
    position:absolute;
    padding: 2.96vh 2.96vh 0 2.96vh;
    display: flex;
    gap: 1.35vh;


    .button {
      z-index: 3;
      border: none;
      background-color: rgba(0,0,0,0);
      padding: 0;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 4.93vh;
      }
    }

    .title {
      font-size: 3.7vh;
      color: normal.$titleColor;
      width: 100%;
      height: 4.93vh;
      text-align: center;
      font-weight: 700;
    }
  }
}
