<div
  class="page-container"
  [ngClass]="{'show-register': showRegisterPage}"
>
  <app-header
    title="チームを編集"
    (back)="moveToBack()"
    (home)="moveToHome()"
  ></app-header>
  <div class="cards">
    <ng-container *ngFor="let team of currentTeams; let i = index">
      <app-team-card
        [team]="team"
        [members]="registeredPlayer"
        (modifyTeam)="onChangeMember(i, $event)"
        [selectedID]="selectedID"
      ></app-team-card>
    </ng-container>
  </div>
  <div class="buttons">
    <button (click)="toggleShowRegisterPage()">
      <span>選手登録</span>
    </button>
    <button (click)="toggleShowStartDialog()">
      <span>プレイ！</span>
    </button>
  </div>
</div>

<div
  *ngIf="showRegisterPage"
  class="page-container register-page">
  <app-header
    title="プレイヤーを登録"
    (back)="toggleShowRegisterPage()"
    (home)="moveToHome()"
  ></app-header>
  <div class="forms">
    <label for="">名前を入力してください</label>
    <app-input-form
      #inputRef
      (valueChange)="onInputPlayerName($event)"
    ></app-input-form>
    <span *ngIf="isDuplicate">※すでに登録済みです</span>
  </div>
  <button
    (click)="toggleShowDialog()"
    [disabled]="(isDuplicate || playerName === '') && playerName !== 'delete user'"
  >
    <span>追加</span>
  </button>
  <div class="player-lists">
    <label for="">◇プレイヤーリスト</label>
    <div class="player-list">
      <div
        *ngFor="let player of registeredPlayer"
        class="list-item"
      >
        <span>{{player.name}}</span>
      </div>
    </div>
  </div>
</div>
<app-check-name-dialog
  *ngIf="showCheckDialog"
  [playerName]="playerName"
  (close)="toggleShowDialog()"
  (agree)="onClickAgree()"
></app-check-name-dialog>
<app-start-game-dialog
  *ngIf="showStartDialog"
  (close)="toggleShowStartDialog()"
  (start)="startGame()"
></app-start-game-dialog>
