@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.page-container {
  width: 100%;
  height: 100%;
  padding: 8.6vh 2.96vh 9.85vh 2.96vh;
  background-color: normal.$bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.show-register {
    opacity: 0;
    pointer-events: none;
  }

  img {
    width: 100%;
  }
  .test {
    font-size: 3.69vh;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 1.23vh;
  }

  .buttons {
    margin-top: 2.96vh;
    width: 40.27vh;
    display: flex;
    gap: 1.6vh;

    button {
      width: 19.33vh;
      height: 5.67vh;
      border: 0.37vh solid normal.$buttonBorderColor;
      border-radius: 0.99vh;
      background-color: normal.$buttonBgColor;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0.37vh 0 normal.$buttonBorderColor;

      &:hover {
        cursor: pointer;
      }

      span {
        color: normal.$textColor;
        font-size: 2.71vh;
      }
    }
  }
}

.register-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 375px;
  height: 100%;
  min-height: 580px;

  .forms {
    width: 40.27vh;
    height: 14vh;
    padding: 1.5vh 3.8vh 0 3.8vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    background-color: normal.$white;
    align-items: center;
    border-radius: 0.99vh;
    box-sizing: border-box;
    margin-top: 5vh;

    label {
      width: 32.64vh;
      height: 3vh;
      font-weight: 700;
      font-size: 2.9vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    app-input-form {
      height: 4.2vh;
    }

    span {
      font-size: 1.97vh;
      line-height: 16%;
      color: #FF0000;
    }
  }

  button {
    width: 19.33vh;
    height: 5.67vh;
    border: 0.37vh solid normal.$buttonBorderColor;
    border-radius: 0.99vh;
    background-color: normal.$buttonBgColor;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.97vh;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.3;
    }

    span {
      color: normal.$textColor;
      font-size: 2.71vh;
    }
  }

  .player-lists {
    width: 40.27vh;
    height: 57%;
    margin-top: 2.96vh;
    display: flex;
    flex-direction: column;
    gap: 1.48vh;

    label {
      width: 100%;
      font-size: 2.71vh;
      font-weight: 700;
    }

    .player-list {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: normal.$white;
      border-radius: 0.99vh;
      padding: 1.48vh;

      &::-webkit-scrollbar {
        display: none;
      }

      .list-item {
        width: 100%;
        height: 5.42vh;
        border-bottom: 0.12vh solid black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        scrollbar-width: 0;

        span {
          font-size: 2.71vh;
          font-weight: 700;
        }
      }
    }
  }
}
