<div class="player-list-container">
  <label for="">
    <img src="/assets/icon/user.svg">
    プレイヤーリスト
  </label>
  <div class="player-list">
    @for (player of registeredPlayer; track player;) {
      <div
        class="list-item"
        *ngIf="player.id !== 'guest'"
      >
        <div
          class="player-name"
          (click)="onClickPlayer(player.id)"
        >
          <span>{{player.name}}</span>
        </div>
        <button [matMenuTriggerFor]="menu">
          ︙
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            (click)="changePlayerName(player)"
          >
            プレイヤー名変更
          </button>
          <button
            mat-menu-item
            (click)="deletePlayer(player)"
          >
            プレイヤーの削除
          </button>
        </mat-menu>
      </div>
      <app-delete-player-dialog
        *ngIf="showDeletePlayerDialog"
        [registeredPlayer]="registeredPlayer"
        [targetPlayer]="deleteTarget"
        (close)="closeDeletePlayerDialog()"
      ></app-delete-player-dialog>
      <app-change-name-dialog
        *ngIf="showChangeNameDialog"
        [registeredPlayer]="registeredPlayer"
        [targetPlayer]="changeTarget"
        (close)="closeChangePlayerNameDialog()"
      ></app-change-name-dialog>
    }
  </div>
</div>
