<div class="dialog-container">
  <div class="dialog">
    <div class="title">プライバシーポリシー</div>
    <div class="message-container">
      <div class="message">
        <h2>はじめに</h2>
        このプライバシーポリシーは、モルグラフ（以下「本アプリ」）における利用者情報の取り扱いについて定めるものです。<br>
        本アプリは、利用者のプライバシーを尊重し、個人情報の保護に最大限配慮しています。<br>

        <h2>1. 収集する情報とその利用目的</h2>
        本アプリは、以下の目的で利用者情報を収集します。<br>
        　<br>
        ・Google AdSenseによる広告配信: <br>
        本アプリは、広告配信ツールとしてGoogle AdSenseを使用しています。
        Google AdSenseは、利用者の興味に応じた広告を表示するため、Cookieやその他の技術（IPアドレス、デバイス情報など）を利用して情報を収集します。
        これは、本アプリの運営費用を賄うために不可欠なものです。<br>
        　<br>
        ・ローカルストレージに保存されるデータ: <br>
        プレイヤー名やスコアなどのデータは、利用者のデバイス上のローカルストレージにのみ保存されます。
        これらのデータが、外部のサーバーに送信されたり、本アプリの運営者によって収集・利用されたりすることはありません。<br>

        <h2>2.法的根拠</h2>
        私たちは、利用者の同意に基づいて上記の個人関連情報を収集・利用します。
        利用者が本アプリのCookie同意バナーで「同意する」を選択した時点で、パーソナライズ広告のための情報収集に同意したものとみなします。
        利用者はいつでもこの同意を取り消すことができます。 <br>

        <h2>3.個人情報の「販売」について（米国カリフォルニア州在住者向け）</h2>
        CCPA（カリフォルニア州消費者プライバシー法）に基づき、Google AdSenseを通じた情報の共有は、「個人情報の販売」と見なされる可能性があります。
        カリフォルニア州在住の利用者は、いつでもこの「販売」をオプトアウトする権利を有します。<br>

        <h2>4.利用者の権利</h2>
        利用者には、ご自身のデータに関して以下の権利があります。<br>
        　<br>
        アクセス権と修正権: <br>
        ご自身のデータがどのように扱われているかを知り、不正確なデータの修正を求める権利。<br>
        　<br>
        削除権（忘れられる権利）: <br>
        一定の条件のもとで、ご自身のデータの削除を求める権利。<br>
        　<br>
        処理の制限・異議を唱える権利: <br>
        データ処理を制限したり、特定の目的でのデータ処理に異議を唱えたりする権利。<br>
        　<br>
        データポータビリティの権利: <br>
        特定の条件下で、ご自身のデータを機械可読な形式で受け取り、他のサービス事業者に移行させる権利。<br>
        　<br>
        これらの権利を行使したい場合は、下記のお問い合わせ先までご連絡ください。

        <h2>5.Cookieの使用と管理</h2>
        本アプリは、Google AdSenseを通じてCookieを使用します。<br>
        Cookieを無効にしたい場合は、お使いのブラウザの設定でCookieの機能を無効にしてください。
        なお、ブラウザの設定でCookieを無効にすると、一部の広告が表示されなくなる場合があります。
        Googleによる情報収集や利用の詳細については、Googleポリシーと規約 をご確認ください。

        <h2>6.お問い合わせ先</h2>
        プライバシーポリシーに関するご質問やご意見、個人情報の取り扱いに関するご相談は、以下のお問い合わせ先までご連絡ください。<br>
        　<br>
        お問い合わせ先メールアドレス：molgraph.service[at]gmail.com
      </div>
    </div>
    <div class="checkbox-container">
      <input
        type="checkbox"
        [(ngModel)]="useCookie"
      >
      Cookieの利用に同意する
    </div>
    <button
      (click)="onClickClose()"
      [disabled]="!useCookie"
    >
      <span>とじる</span>
    </button>
  </div>
</div>
