<div
  class="dialog-container"
  (click)="onClickClose()">
  <div class="dialog">
    <div class="title">プライバシーポリシー</div>
    <div class="message-container">
      <div class="message">
        <h2>はじめに</h2>
        本プライバシーポリシーは、[モルグラフ]（以下「本アプリ」といいます）における、お客様の情報の取り扱いについて定めるものです。<br>
        本アプリは、お客様の氏名、メールアドレス、電話番号といった個人を特定できる情報を一切収集しません。ただし、広告配信のため、以下の情報を自動的に取得します。
        <h2>広告配信について</h2>
        本アプリでは、Google AdSenseを通じて広告を配信しています。Google AdSenseは、お客様の興味や関心に基づいた広告を表示するために、以下の情報を自動的に取得し、利用します。<br>
        これらの情報は、個人を特定するものではありません。<br><br>

        デバイス情報: 端末の機種、OSバージョンなど<br>
        広告識別子: 広告の効果測定や最適な広告表示のために、お客様の端末に割り当てられるID<br>
        IPアドレス: お客様がインターネットに接続する際に使用するアドレス<br>
        これらの情報は、広告配信の目的のみに利用され、他の目的で利用されることはありません。Googleによる情報利用の詳細は、以下のGoogleのポリシーをご確認ください。

        <h2>Googleのプライバシーポリシー</h2>

        <h3>情報の管理</h3>
        本アプリは、お客様の個人情報を一切収集しないため、情報の管理体制は必要ありません。

        <h3>プライバシーポリシーの変更</h3>
        本プライバシーポリシーの内容は、法令改正やサービス内容の変更等に伴い、改定される場合があります。変更があった場合は、本アプリ内または開発者ウェブサイトにて通知します。<br>

        <h2>お問い合わせ</h2>
        本プライバシーポリシーに関するご質問は、以下のお問い合わせ窓口にご連絡ください。
        molgraph.service[at]gmail.com
      </div>
    </div>
    <button (click)="onClickClose()">
      <span>とじる</span>
    </button>
  </div>
</div>
