@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.page-container {
  width: 100%;
  height: 100%;
  padding: 11.08vh 2.96vh 9.85vh 2.96vh;
  background-color: normal.$bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info {
    font-size: 3.45vh;
    font-weight: 700;
  }

  .score-board {
    width: 100%;
    height: 36.7vh;
    margin-top: 2.96vh;
    display: flex;
    flex-direction: column;

    .score-header {
      height: 3.69vh;
      display: flex;
      background-color: #C68854;
      border-top-left-radius: 0.49vh;
      border-top-right-radius: 0.49vh;

      .space {
        flex: 1;
      }

      .column {
        width: 7.88vh;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          height: 2.71vh;
          font-size: 1.97vh;
          color: white;
          font-weight: 700;
        }

        &.rank {
          width: 6.9vh;
        }

        &.team-name {
          flex: 1;
        }
      }
    }

    .contents {
      display: flex;
      height: 7.88vh;
      min-width: 0;
      border-top: 0.12vh solid #C68854;
      border-bottom: 0.12vh solid #C68854;

      .team-data {
        flex: 1;
        background-color: white;
        display: flex;
        min-width: 0;
        align-items: center;
        font-weight: 700;

        .rank {
          width: 6.9vh;
          font-size: 2.46vh;
          text-align: center;
        }

        .team-name {
          flex: 1;
          margin-left: 0.99vh;
          font-size: 3.45vh;
          text-align: center;
        }

        &.first {
          color: white;
          background-color: #FF6F3C;
        }
      }

      .score {
        width: 7.88vh;
        background-color: #8CBF3E;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.45vh;
        font-weight: 700;
      }

      .total {
        background-color: #6E3C0B;
      }
    }

    .footer {
      height: 1.48vh;
      background-color: #C68854;
      border-bottom-left-radius: 0.49vh;
      border-bottom-right-radius: 0.49vh;
    }
  }

  .buttons {
    width: 29.68vh;
    height: 20.57vh;
    display: flex;
    flex-direction: column;
    gap: 1.97vh;

    button {
      width: 29.68vh;
      height: 5.54vh;
      padding: 0;
      border-radius: 0.99vh;
      font-size: 2.71vh;
      color: black;
      font-weight: 700;

      &.continue {
        background-color: #6E3C0B;
        border: 0.37vh solid #3B3B3B;
        color: white;
        box-shadow: 0 0.49vh 0 #3B3B3B;
      }

      &.save {
        background-color: #B2743B;
        border: 0.37vh solid #6E3C0B;
        color: #FFF0CE;
        box-shadow: 0 0.49vh 0 #6E3C0B;
      }

      &.no-save {
        background-color: white;
        border: 0.25vh solid #3B3B3B;
        box-shadow: 0 0.49vh 0 #3B3B3B;
      }
    }
  }
}
