@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.page-container {
  width: 100%;
  height: 100%;
  padding: 8.6vh 2.96vh 9.85vh 2.96vh;
  background-color: normal.$bgColor;
  display: flex;
  align-items: center;
  justify-content: center;

  .buttons {
    width: 24.63vh;
    display: flex;
    flex-direction: column;
    gap: 2.96vh;

    .team-btn {
      width: 24.63vh;
      height: 5.67vh;
      border: 0.37vh solid normal.$buttonBorderColor;
      border-radius: 0.99vh;
      background-color: normal.$buttonBgColor;

      &:hover {
        cursor: pointer;
      }

      span {
        color: normal.$textColor;
        font-size: 3.2vh;
        font-weight: 700;
      }
    }
  }

  img {
    height: 200px;
    width: 150px;
  }
}
