<div class="page-container">
  <app-header
    [title]="target.name"
    (back)="moveToBack()"
    (home)="moveToHome()"
  ></app-header>
  <div class="cards">
    <div class="card">
      <label>セット勝率</label>
      <div class="data">
        <span>58</span>%
      </div>
    </div>
    <div class="card">
      <label>勝利ターン<br>平均</label>
      <div class="data">
        <span>58</span>ターン
      </div>
    </div>
    <div class="card">
      <label>ブレイク平均</label>
      <div class="data">
        <span>2</span>点
      </div>
    </div>
    <div class="card">
      <label>狙い通り率</label>
      <div class="data">
        <span>58</span>%
      </div>
    </div>
    <div class="card">
      <label>平均得点</label>
      <div class="data">
        <span>58</span>点
      </div>
    </div>
    <div class="card">
      <label>ファウル率</label>
      <div class="data">
        <span>58</span>%
      </div>
    </div>
    <div class="card">
      <label><span>1試合当たりの</span><br>50オーバー率</label>
      <div class="data">
        <span>58</span>%
      </div>
    </div>
    <div class="card">
      <label><span>1試合当たりの</span><br>失格率</label>
      <div class="data">
        <span>58</span>%
      </div>
    </div>
  </div>
</div>
