@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.page-container {
  width: 100%;
  height: 100%;
  padding: 8.62vh 2.96vh 9.85vh 2.96vh;
  background-color: normal.$bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;

  .cards {
    width: 100%;
    margin-top: 0.99vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

    .card {
      width: 32%;
      height: 11.08vh;
      margin-top: 0.99vh;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0.99vh;
      font-size: 1.97vh;

      &.selected {
        border: 0.37vh solid black;
      }

      label {
        color: #6E3C0B;
        font-weight: 700;
        text-align: center;

        span {
          font-size: 1.48vh;
        }
      }

      .data {
        font-size: 1.97vh;

        span {
          font-size: 2.71vh;
          font-weight: 700;
        }

        .unit {
          font-size: 1.48vh;
        }
      }
    }
  }

  .chart-container {
    height: 42vh;
  }

  .guide {
    height: 8vh;
    background-color: normal.$buttonBgColor;
    border: 0.37vh solid normal.$buttonBorderColor;
    display: flex;
    justify-content: center;
    font-size: 2vh;
    padding: 2vh;
    font-weight: 700;
    border-radius: 1vh;
  }
}
