@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.page-container {
  width: 100%;
  height: 100%;
  padding: 8.62vh 2.96vh 9.85vh 2.96vh;
  background-color: normal.$bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;

  .cards {
    width: 100%;
    margin-top: 0.99vh;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.3vh;
    row-gap: 1vh;

    .card {
      width: calc((100% - 0.6vh) / 3);
      height: 11.08vh;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0.99vh;
      font-size: 2.46vh;
      box-shadow: 0 0.3vh 1vh rgba(0,0,0,0.25);

      &.selected {
        border: 0.37vh solid black;
      }

      label {
        color: #6E3C0B;
        font-weight: 700;
        text-align: center;

        span {
          font-size: 1.48vh;
        }
      }

      .data {
        font-size: 2.71vh;

        span {
          font-size: 3.7vh;
          font-weight: 700;
        }

        .unit {
          font-size: 1.48vh;
        }
      }
    }

    .info {
      width: 3.7vh;
      height: 3.7vh;
      margin: auto 0 0 auto;
      color: black;
      background-color: #f1f1f1;
      border-radius: 50%;
      font-size: 2.8vh;
      font-weight: 700;
      border: 0.25vh solid black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .chart-container {
    height: 42vh;
  }

  .guide {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    box-shadow: 0 0.3vh 1vh rgba(0,0,0,0.25);
    justify-content: center;
    align-items: center;
    font-size: 2.46vh;
    text-align: center;
    color: #686868;
    padding: 2vh;
    font-weight: 700;
    border-radius: 1vh;
  }
}
