@use "../../../stylesheets/normal-color.scss" as normal;

.select-box {
  width: 16.5vh;
  height: 3.69vh;
}

::ng-deep .mat-mdc-text-field-wrapper {
  width: 16.5vh !important;
  height: 3.69vh !important;
  background-color: normal.$white !important;
  border: 0.12vh solid #B1B1B1;
  padding: 0 !important;
  padding-right: 0.99vh !important;
  border-radius: 0.74vh !important;
  outline: none !important;

  .mat-mdc-form-field-focus-overlay {
    border: none !important;
    outline: none !important;
  }

  .mat-mdc-form-field-flex {
    width: 100%;
    height: 100%;

    .mat-mdc-form-field-infix {
      padding: 0;
    }
  }

  .mdc-line-ripple {
    display: none;
  }
}

::ng-deep .mat-mdc-select-panel {
  background-color: white !important;

  .mat-mdc-option {
    height: 3.69vh !important;
    min-height: 3.69vh !important;


    &.selected {
      opacity: 0.3;
      pointer-events: none;
    }

    span{
      font-size: 1.97vh !important;
    }
  }
}
