@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.home-container {
  padding: 70px 24px 80px 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: normal.$bgColor;
  gap: clamp(80px, 12.3vh, 120px);

  .home-icon {
    height: clamp(180px, 26vh, 250px);
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .button {
      img {
        height: clamp(64px, 9.6vh, 89px);
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
