@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.home-container {
  padding: 8.6vh 2.96vh 9.85vh 2.96vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: normal.$bgColor;
  gap: 12.3vh;

  .home-icon {
    margin-top: 8.5vh;
    height: 26vh;
    display: flex;
    flex-direction: column;

    .image {
      height: 20.94vh;
      width: auto;
    }

    .title {
      height: 16vh;
      width: auto;
      font-family: "Cherry Bomb One";
      font-size: 7.4vh;
      color: #592C15;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        font-family: "Cherry Bomb One";
        color: #592C15;
        font-size: 2.46vh;
        line-height: 20%;
        letter-spacing: 1.7vh;
        margin-left: 1.7vh;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1.97vh;

    button {
      width: 27.7vh;
      height: 9vh;
      box-shadow: 0 0.74vh  0 0 #B3772D;
      border-radius: 2.59vh;
      background-color: #D4913A;
      border: none;

      span {
        font-size: 3.69vh;
        font-family: "Nikumaru";
        font-weight: 400;
        color: #FFEAB6;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .policy {
    width: 18.22vh;
    color: black;
    background-color: white;
    border-radius: 1vh;
    border: none;
    font-size: 1.84vh;
    font-family: "Cherry Bomb One";
    box-shadow: 0 0.6vh  0 0 black;
  }
}
