<div class="home-container">
  <div class="home-icon">
    <img class="image" src="assets/images/title_image.svg">
     <div class="title">
      モルグラフ
      <span>MÖLGRAPH</span>
     </div>
  </div>
  <div class="buttons">
    <button
      class="start button"
      (click)="onClickStart()"
    >
      <span>試合開始</span>
    </button>
    <button
      class="view button"
      (click)="onClickViewData()"
    >
      <span>成績を見る</span>
    </button>
  </div>
  <button
    class="policy"
    (click)="togglePrivacyPolicy()"
  >
    プライバシーポリシー
  </button>
</div>
@if(showPrivacyPolicy === true) {
  <app-privacy-policy (close)="togglePrivacyPolicy()"></app-privacy-policy>
}
