@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.home-container {
  padding: 8.6vh 2.96vh 9.85vh 2.96vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: normal.$bgColor;
  gap: 12.3vh;

  .home-icon {
    height: 26vh;
    display: flex;
    flex-direction: column;

    .image {
      height: 20.94vh;
      width: auto;
    }

    .title {
      height: 8.25vh;
      width: auto;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1.97vh;

    button {
      width: 27.7vh;
      height: 9vh;
      box-shadow: 0 0.6vh  0 0 #B3772D;
      border-radius: 2.59vh;
      background-color: #D4913A;
      border: none;

      span {
        font-size: 3.69vh;
        font-weight: 700;
        color: #FFEAB6;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .policy {
    color: black;
    background-color: white;
    border-radius: 0.5vh;
    font-size: 1.48vh;
  }
}
