<div
  class="dialog-container"
  (click)="onClickClose()"
>
  <div class="dialog">
    <div class="row">
      <div class="submit button">
        狙い通り
      </div>
      <span>狙って倒せたとき</span>
    </div>
    <div class="row">
      <div class="submit button">
        決定
      </div>
      <span>
        狙い通りじゃないけど<br>
        倒せたとき
      </span>
    </div>
    <div class="row">
      <div class="fail button">
        F
      </div>
      <span>o本(外れたとき)</span>
    </div>
    <div class="row">
      <div class="back button">
        戻る
      </div>
      <span>
        間違えたとき<br>
        一手戻れる
      </span>
    </div>
  </div>
</div>
