@use "../../stylesheets/normal-color.scss" as normal;

.dialog-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  .dialog {
    width: 39.04vh;
    height: 25.86vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.23vh;
    border: 0.12vh solid black;
    border-radius: 1.97vh;
    padding: 1.48vh;
    box-sizing: border-box;
    border: 0.36vh solid #3B3B3B;
    box-shadow: 0 0.86vh 0 #3B3B3B;

    .message {
      height: 16.01vh;
      font-size: 2.71vh;
      font-weight: 700;
      text-align: center;

      .form {
        margin-top: 1.48vh;
        height: 4.93vh;
      }

      .alert {
        color: red;
      }
    }

    .buttons {
      display: flex;
      gap: 1.6vh;

      button {
        width: 17.24vh;
        height: 5.67vh;
        border: 0.37vh solid  black;
        border-radius: 0.99vh;
        background-color: #F1F1F1;
        box-shadow: 0 0.37vh 0 #3B3B3B;

        span {
          font-size: 2.71vh;
        }

        &.change-name {
          background-color: #FF6F3C;
          color: white;
        }

        &:disabled {
          opacity: 0.3;
        }
      }
    }
  }
}
