<div
  class="dialog-container"
>
  <div class="dialog">
    <div class="message">
      <span>
        プレイヤー名変更
      </span>
      <div class="form">
        <app-input-form
          [value]="initName"
          (valueChange)="onValueChange($event)"
        ></app-input-form>
      </div>
    </div>
    <div class="buttons">
      <button (click)="onClickClose()">
        <span>戻る</span>
      </button>
      <button (click)="onClickChange()">
        <span>変更</span>
      </button>
    </div>
  </div>
</div>
